<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">T e l e N a s h </a>
    <span style="margin-left: 470px; color: rgb(224, 224, 224); font-size: 20px;">Menadžer zahtjeva i usluga </span>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" routerLink="/requestManagerZahtjevi">
            <i class="fa fa-fw fa-table"></i>
            <span> &ensp; </span>
            <span class="nav-link-text">Zahtjevi</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" routerLink="/statistika/zahtjevi">
            <i class="fa fa-fw fa-bar-chart"></i>
            <span> </span>
            <span class="nav-link-text">Statistika zahtjeva</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" routerLink="/requestManagerUsluge">
            <i class="fa fa-fw fa-handshake-o"></i>
            <span> </span>
            <span class="nav-link-text">Usluge</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal5">
            <i class="fa fa-fw fa-sign-out"></i>Odjavi se</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">

    <div class="container-fluid">
      <div class="text-center">
        <h4 id="naslov" style="color: rgb(233, 118, 24); margin-bottom: 30px; margin-top: 20px;"> Usluge </h4>
        <button type="button" class="btn btn-primary btn-lg"
                style="background-color: rgb(77, 77, 77)!important; margin-bottom: 30px; border-color: rgb(245, 87, 14);"
                data-toggle="modal" data-target="#createProduct">
            <i class="fa fa-edit left"></i>Dodaj novu uslugu</button>
      </div>

      <app-edit-product [id]="'createProduct'" (create)="addItems($event)"></app-edit-product>

      <div class="text-center" id="usluge-tabela">
        <table class="table table-hover">
          <thead class="zaglavlje">
            <tr>
              <th class="naziv-kolone" scope="col" style="text-align: center"> Naziv usluge </th>
              <th class="naziv-kolone" scope="col" style="text-align: center"> Opis </th>
              <th class="naziv-kolone" scope="col" style="text-align: center"> Osnovna cijena </th>
              <th class="naziv-kolone" scope="col" style="text-align: center"> Izmijeni</th>
              <th class="naziv-kolone" scope="col" style="text-align: center"> Obriši uslugu </th>
            </tr>
          </thead>
          <tbody>
          <tr class="red" scope="row" *ngFor="let product of products, let i = index"
              [class.selected]="product === odabrani_product">
              <td class="kolona">{{ product.name }}</td>
              <td class="kolona">{{ product.description}}</td>
              <td class="kolona">{{ product.price}} KM</td>
              <td class="kolona-btn">
                <button type="button" class="btn btn-outline-secondary" id="prikazi_btn" data-toggle="modal"
                        data-target="#editProduct" (click)="onSelect(product)">Izmijeni
                </button>
              </td>
              <td class="kolona-btn">
                <button type="button" class="btn btn-outline-danger" (click)="deleteProd(product.id, i)" data-toggle="modal" data-target="#delete4Modal">Obriši uslugu</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-edit-product [id]="'editProduct'" [product]="odabrani_product"></app-edit-product>

      <div class="modal fade" id="delete4Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel"> Usluga uspješno obrisana!</h3>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal">Zatvori</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © TeleNash 2018</small>
        </div>
      </div>
    </footer>

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Želite se odjaviti?</h5>
            <button class="close" id="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Odustani</button>
            <a class="btn btn-primary" style="background-color: rgb(226, 101, 28)!important;" (click)="odjaviSe()">Odjavi se</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<router-outlet></router-outlet>
