<!--<mat-toolbar color="primary">
  <mat-toolbar>
    <span style="color: #d67696; font-weight: bold" class="company">T e l e N a s h</span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Prijava u sistem</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>-->


<body style="background-color: #666666;">
	
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form">
            <span class="login100-form-title p-b-43">
              Prijavi se
            </span>
            
            
            <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
              <input class="input100" [(ngModel)]="username" type="text" name="email" placeholder="Username">
              <span class="focus-input100"></span>
            </div>
            
            
            <div class="wrap-input100 validate-input" data-validate="Password is required">
              <input class="input100" [(ngModel)]="password"  type="password" name="pass" placeholder="Password">
              <span class="focus-input100"></span>
            </div>
  
            <div class="flex-sb-m w-full p-t-3 p-b-32">
              <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">
                  Zapamti
                </label>
              </div>
  
              <div>
                <a href="#" class="txt1">
                  Zaboravili ste password?
                </a>
              </div>
            </div>
        
  
            <div class="container-login100-form-btn">
              <button class="login100-form-btn" (click)="login()" >
                Loguj se
              </button>
            </div>
            
            <div class="text-center p-t-46 p-b-20">
              <span class="txt2">
                ili se registrujte putem
              </span>
            </div>
  
            <div class="login100-form-social flex-c-m">
              <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                <i class="fa fa-facebook-f" aria-hidden="true"></i>
              </a>
  
              <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </div>
          </form>
  
          <div class="login100-more" style="background-image: url('assets/images/bg-01.jpg');">
          </div>
        </div>
      </div>
    </div>
