<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="editRequestModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalTitle" [innerText]="title"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #requestForm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="col-form-label">Naziv zahtjeva:</label>
            <input type="text" required class="form-control" id="name" name="name"
                   [(ngModel)]="request && request.name" [disabled]="disabled">
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Opis zahtjeva:</label>
            <textarea class="form-control" id="description" style="height: 150px" required
                      [(ngModel)]="request && request.description"
                      name="description" [disabled]="disabled">{{ request?.description }}</textarea>
          </div>
          <div class="form-group">
            <label for="radniNalog" class="col-form-label">Radni nalog:</label>
            <textarea class="form-control" id="radniNalog" style="height: 100px" required
                      [(ngModel)]="request && request.radniNalog"
                      name="radniNalog" [disabled]="disabled">{{ request?.radniNalog }}</textarea>
          </div>
          <div class="form-group">
            <label for="wayOfSubmissions" class="col-form-label">Način prijave zahtjeva:</label>
            <select class="form-control" id="wayOfSubmissions" [(ngModel)]="request && request.wayOfSubmission"
                    name="wayOfSubmissions" required [disabled]="disabled">
              <option *ngFor="let wayOfSubmission of keys(wayOfSubmissions)"
                      [value]="wayOfSubmission">{{ wayOfSubmissions[wayOfSubmission] }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="wayOfResponse" class="col-form-label">Način odgovaranja:</label>
            <select class="form-control" id="wayOfResponse"
                    [(ngModel)]="request && request.wayOfResponse"
                    name="wayOfResponse" required [disabled]="disabled">
              <option *ngFor="let wayOfResponse of keys(wayOfResponses)"
                      [value]="wayOfResponse">{{wayOfResponses[wayOfResponse] }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="userPriority" class="col-form-label">Korisnički prioritet:</label>
            <select class="form-control" id="userPriority"
                    [(ngModel)]="request && request.userPriority" [compareWith]="compareByName"
                    name="userPriority" required [disabled]="disabled">
              <option *ngFor="let priority of priorities" [ngValue]="priority">{{ priority.name }}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="authService.isRequestManager()">
            <label for="adminPriority" class="col-form-label">Administratorski prioritet:</label>
            <select class="form-control" id="adminPriority"
                    [(ngModel)]="request && request.adminPriority" [compareWith]="compareByName"
                    name="adminPriority" required [disabled]="disabled">
              <option *ngFor="let priority of priorities" [ngValue]="priority">{{ priority.name }}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="authService.isRequestManager()">
            <label for="status" class="col-form-label">Status:</label>
            <select class="form-control" id="status" [(ngModel)]="request && request.status" name="status"
                    [compareWith]="compareByName" required [disabled]="disabled">
              <option *ngFor="let status of statuses" [ngValue]="status">{{ status.name }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn_zatvori" data-dismiss="modal">Zatvori</button>
          <button *ngIf="!disabled" type="submit" class="btn" data-dismiss="modal" id="btn_submit"
                  (click)="editRequest()"
                  [disabled]="!requestForm.form.valid && !disabled" [ngClass]="{'btn-primary': requestForm.form.valid}">
            Spasi zahtjev
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
