<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalTitle" [innerText]="title"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #productForm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="col-form-label">Naziv zahtjeva:</label>
            <input type="text" required class="form-control" id="name" name="name"
                   [(ngModel)]="product && product.name" [disabled]="disabled">
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Opis usluge:</label>
            <textarea class="form-control" id="description" style="height: 150px" required
                      [(ngModel)]="product && product.description"
                      name="description" [disabled]="disabled">{{ product?.description }}</textarea>
          </div>
          <div class="form-group">
            <label for="price" class="col-form-label">Cijena:</label>
            <input type="text" required class="form-control" id="price" name="price"
                   [(ngModel)]="product && product.price" [disabled]="disabled">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn_zatvori" data-dismiss="modal">Zatvori</button>
          <button *ngIf="!disabled" type="submit" class="btn" data-dismiss="modal" id="btn_submit"
                  (click)="editProduct()"
                  [disabled]="!productForm.form.valid" [ngClass]="{'btn-primary': productForm.form.valid}">
            Spasi uslugu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
